:root {
    --color-blue-900: #13183F;
    --color-blue-600: #666CA3;
    --color-pink-600: #F74780;
    --color-pink-300: #FFA7C3;
    --color-grey: #83869A;
    --color-white: #FFF;

    --gradient-orange: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --gradient-purple: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);

    --fs18: 18px;
    --fs16: 16px;
    --fs24: 24px;
    --fs32: 32px;
    --fs40: 40px;
    --fs56: 56px;

    --line-150: 150%;
    --line-120: 120%;

    --regular: 500;
    --bold: 700;
    --bolder: 800;

    /* hover */

    --gradient-orange-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.50)0%, rgba(255, 255, 255, 0.50)100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --gradient-purple-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.50)0%, rgba(255, 255, 255, 0.50)100%), linear-gradient(180deg, #4851FF 54.32%, #F02AA6 100%);

}


* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    
    
}

body {
    background-image: linear-gradient(#fff 0%, #f0f1ff 100%);
    height: 100%;
    
}

.overflow {
    overflow-x: hidden;
    position: relative;
}

/* utili */


/* background */

.bg-dark-blue {background: var(--color-blue-900);}
.bg-light-blue {background: var(--color-blue-600);}
.bg-dark-pink {background: var(--color-pink-600);}
.bg-light-pink {background: var(--color-pink-300);}
.bg-orange {background: var(--gradient-orange);}
.bg-purple {background: var(--gradient-purple);}
.bg-white {background: var(--color-white);}

/* font */

.regular {font-weight: var(--regular);}
.bold {font-weight: var(--bold);}
.bolder {font-weight: var(--bolder);}

.fs18 {font-size: 18px;}
.fs16 {font-size: 16px;}
.fs24 {font-size: 24px;}
.fs32 {font-size: 32px;}
.fs40 {font-size: 40px;}
.fs56 {font-size: 56px;}

/* line heights */

.line-150 {line-height: var(--line-150);}
.line-120 {line-height: var(--line-120);}

/* sapcing */

.space-0 {letter-spacing: 0px;}


/*font color */

.text-white {color: #FFF;}
.text-grey {color: var(--color-grey);}
.text-pink {color: var(--color-pink-600);}
.text-dark-blue {color: var(--color-blue-900);}

/* header style */

header {
    display: flex;
    margin: 24px 80px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.logo {
    width: 111px;
    height: 28px;
}

.main-button {
    border-radius: 28px;
    padding: 16px 32px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    z-index: 10; 
    position: relative;

}

.main-button:hover {
    background: var(--color-blue-600);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* top card */

.top-card {
    display: flex;
    padding: 64px 80px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.hero-header {
    max-width: 457px;
    margin-bottom: 24px;
}

.hero-p {
    width: 72%;
    margin-bottom: 40px;
}

.hero-button {
    border-radius: 28px;
    padding: 16px 32px;
    border: none;
    box-shadow: 2px 2px 4px hsla(250, 100%, 6%, 0.521);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-button:hover {
    background: var(--gradient-orange-hover);
    box-shadow: 2px 2px 4px hsla(250, 100%, 6%, 0.315);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero-pic {
    margin-top: -17rem;
    margin-right: -27rem;
    z-index: 1; /* Ensure it has a lower z-index */
    position: relative;
    
}


.hero-pic-tablet {display: none;}
 
.hero-pic-mobile {display: none;}



/* bottom card */

.bottom-card {
    display: grid;
    padding:64px 80px 144px 80px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 56px;
    column-gap: 32px;
    align-items: center;
    align-self: stretch;
    
}

.boxs {
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: 15px;
    padding: 64px 32px 32px 40px;
    width: 352px;
    height: 322px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxs:hover {
    
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.small-logo {
    position: absolute;
    top: -1.5rem;
}
.box-title {
    margin-bottom: 24px;
}
.box-button {
    border: none;
    background: none;
    margin-top: 24px;
    cursor: pointer;

}

.box-button:hover {
    color: var(--color-pink-300);
    
}
 /* footer */ 

.footer {
    display: flex;
    padding:24px 80px;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
 }

 .dark-logo {
    margin-left: -10px;
 }

 .footer-button {
    margin-right: -10px;
    border: none;
    border-radius: 28px;
    padding: 16px 32px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

 }

 .footer-button:hover {
    cursor: pointer;
    background: var(--gradient-purple-hover);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }




/* media screens */


@media screen and (max-width: 1260px) {
    .hero-pic {
        margin-top: -17rem;
        margin-right: -29rem;
    }
    .hero-pic-tablet {display: none;}
 
    .hero-pic-mobile {display: none;}

    
}
@media screen and (max-width: 1140px) {
    .boxs{
        width: 310px;
        height: 310px;
    }
    
}

@media screen and (max-width: 1000px) {
    .bottom-card {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 700px) {
    .bottom-card {
        grid-template-columns: repeat(1, 1fr);
    }
    .boxs {
        width: 352px;
        height: 322px;
    }
}
@media screen and (max-width: 1080px) {
    .hero-pic {display: none;}

    .hero-pic-mobile {display: none;}
    
    .hero-pic-tablet {
        display: block;
        margin-right: -20rem;
        margin-top: -15rem;
    }
    
}

@media  screen and (max-width: 850px) {
    .hero-pic-tablet {
        margin-top: -10rem;
    }
    
    .main-button {
        margin-right: 5rem;
    }
}
    
@media screen and (max-width: 768px) {
    .hero-header {
        font-size: var(--fs40);
        width: 169%;
    }
    .hero-text {
        margin-right: 2rem;
        margin-left: -2rem;

    }
    .hero-p {
        width: 135%;
    }

    .main-button {
        margin-right: -10rem;
    }

    .hero-pic-tablet {
        display: block;
        margin-top: -10rem;
    }
}


@media screen and (max-width: 680px) {
    .top-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }
    header {
        width: 90%;
    }
    .hero-pic-tablet {display: none;}
    .hero-pic-mobile {display: block;}

    .hero-p {
        width: 80%;
        min-width: 356px;
        padding: 0;
        margin: 0 0 40px 0;
    }
    .hero-header {
        padding: 0;
        margin: 0 0 24px 0;

    }
    .footer-button {
        padding: 9px 9px;
    }
}

@media screen and  (max-width: 555px) and (min-width: 470px) {
    .main-button {
        margin:0 auto;
    }
    
}

@media screen and (max-width: 469px) {
    body{
        display: flex;
        min-width: 375px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .main-button{
        margin-left: auto;
        margin-right: auto;
    }
    .top-card {
        display: flex;
        padding:64px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        margin-left: 50px;
    }
    
    .hero-header { 
        width: 93%;

    }

    .hero-pic-mobile {
        margin-left: -5rem;
    }
    
}

@media screen and (max-width: 375px) {
    .main-button {
        margin-left: auto;
        margin-right: auto;
    }
    .hero-pic-mobile {
        margin-left: -6.1rem;
    }
    
}